#### 2020-02-04-A

## 系統白名單
@@||nctu.me^
@@||dynu.net^
@@||webredirect.org^

## 反偵測黑名單
||dnsexp.xyz^

## CNAME白名單
@@||fonts.gstatic.com^
@@||tw.answers.yahoo.com^
@@||login.live.com^
@@||cdn-content.ampproject.org^

## 福爾摩沙白名單
@@||ntdtv.com^
@@||avgle.com^

## 若有似無黑名單
||itadapi.ithome.com.tw^
||falcon-creative-ak.pixfs.net^
||pixoctopus.pixnet.net^
||oeya.com^
||gamepark.com.tw^
||iorange.biz^

## 內容農場黑名單
||kknews.cc^
||read01.com^
||Buzzhand.com^
||fun01.cc^
||bomb01.com^
